:root {
    --color-dark: #6E2DFC;
    --color-light: #8B6AFF;
    --color-default: #7A2DFD;
    --color-tertiary: #FF9400;
    --color-secondary: #4A143B;
    --color-bg-facebook: #FE5A58;
    --color-bg-instagram: #1877F2;
    --color-bg-secondary-instagram: #0095F6;
}
/**
 Colors
 */
.color-dark {color: var(--color-dark) !important}
.color-light {color: var(--color-light) !important}
.color-default {color: var(--color-default) !important}
.color-tertiary {color: var(--color-tertiary) !important}
.color-secondary {color: var(--color-secondary) !important}
.color-bg-facebook {color: var(--color-bg-facebook) !important}
.color-bg-instagram {color: var(--color-bg-instagram) !important}
.color-bg-secondary-instagram {color: var(--color-bg-secondary-instagram) !important}
/**
 Backgrounds
 */
.bg-color-dark {background-color: var(--color-dark) !important}
.bg-color-light {background-color: var(--color-light) !important}
.bg-color-default {background-color: var(--color-default) !important}
.bg-color-tertiary {background-color: var(--color-tertiary) !important}
.bg-color-secondary {background-color: var(--color-secondary) !important}
.bg-color-facebook {background-color: var(--color-bg-facebook) !important}
.bg-color-instagram {background-color: var(--color-bg-instagram) !important}
.bg-color-secondary-instagram {background-color: var(--color-bg-secondary-instagram) !important}