@font-face {
    font-family: SulSans-Regular;
    src: url(assets/fonts/SulSans-Medium.otf);
}

::selection {
    color: white;
    background: #7A2DFD;
}

#root {
    font-family: SulSans-Regular, Arial, Helvetica, sans-serif;
}